{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

  <br>
  <form method="post" id="promptForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="generate">Submit</button>
  </form>

</div>
{% endblock content %}

{% block javascript %}
<script>

  const useFetch = async (url, data, csrfToken) => {

    try {
      const payload = JSON.stringify(Object.fromEntries(data))

      const response = await fetch(url, {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrfToken,
        },
        body: payload
      })

      if (!response.ok) {
        throw new Error("Error in request...")
      }

      const responseData = await response.json()


      return responseData

    } catch (error) {
      console.log(error)
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    const promptInput = document.getElementById("id_prompt")
    const promptForm = document.getElementById("promptForm")
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    console.log(promptForm)

    promptForm.addEventListener("submit", async (e) => {
      e.preventDefault()

      const formData = new FormData(promptForm)

      formData.set("csrfmiddlewaretoken", csrfToken)

      console.log(Object.fromEntries(formData));
      const res = await useFetch("http://localhost:8000/test/", formData, csrfToken)

      console.log("Res", res)

    })
  });


</script>
{% endblock javascript %}