/* Sticky footer styles
-------------------------------------------------- */
  {
  % load static %
}

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #0e1a1f;
  /* Margin bottom by footer height */
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}



.hero-section {
  background: linear-gradient(to top, rgba(14, 26, 31, .4) 40%, #0e1a1f),
    linear-gradient(to bottom, rgba(14, 26, 31, 0) 50%, #0e1a1f),
    linear-gradient(to bottom, rgba(14, 26, 31, 0) 50%, #0e1a1f),
    url("/static/images/ai1.png");

  /* background-image: linear-gradient(to top, rgba(14, 26, 31, 0) 80%, rgba(14, 26, 31, .6)),
    linear-gradient(to bottom, rgba(14, 26, 31, 0) 80%, rgba(14, 26, 31, .6)),
    linear-gradient(to bottom, rgba(14, 26, 31, .6), rgba(14, 26, 31, .6)), url("/static/images/ai1.png"); */

  background-size: cover;
  position: relative;
  height: 90vh;
}

.prompt-input {
  border: 1.5px solid #0e1a1f;
  box-shadow: 0 2px 5px 0 #0e1a1f;
  background-color: #0c3a4321;
  color: white;
}

.prompt-input::placeholder {
  color: white;
  font-weight: 400;
}

/* .prompt-input:active {
  border: 1.5px solid #0e1a1f;
  outline: none;
} */

.prompt-input:focus {
  outline: 1.5px solid #0e1a1f;
}